configurable:
  # model: moonshotai/kimi-k2-instruct
  # model: llama3.2
  # model_provider: ollama
  # model: qwen3
  # model_provider: ollama
  # model_provider: groq
  # model: gemini-2.5-pro
  # model_provider: google_genai
  # model: mistralai/mixtral-8x7b-instruct-v0.1
  # model: openai/gpt-oss-120b
  # model: openai/gpt-oss-20b
  # model_provider: nvidia
  # temperature: 0
  # verbosity: low
  # reasoning_effort: minimal
  model_provider_sg: openai
  model_sg: gpt-4o
  # reasoning_effort_sg: minimal
  temperature_sg: 0
  model_provider_tg: openai
  model_tg: gpt-4o
  # reasoning_effort_tg: minimal
  temperature_tg: 0

  model_provider_dts: openai
  model_dts: gpt-4o
  # reasoning_effort_dts: minimal
  temperature_dts: 0

  model_provider_n: openai
  model_n: gpt-4o
  # reasoning_effort_n: minimal
  temperature_n: 0

  thread_id: thread_19
  